@import url(fonts/ubuntu-font-family/fonts.css);

/* Eliminate Browser's Default Padding and Margin */
* {
    margin: 0;
    padding: 0;
}

/* Overall Color Theme (Shared Layout) */
:root {
    --outermost-color: #0B2447;
    --outer-color: #19376D;
    --inner-color: #576CBC;
    --innermost-color: #A5D7E8;
}

.border-radius {
    border-radius: 0.25em;
}

.rounded-corners {
    border-radius: 0.25em;
    padding: 0.5em;
    margin: 0.5em 0;
}

.outermost-color {
    background-color: var(--outermost-color);
}

.outer-color {
    background-color: var(--outermost-color);
}

.inner-color {
    background-color: var(--inner-color);
}

.innermost-color {
    background-color: var(--innermost-color);
}

/* Overall Content (Shared Layout) */

body {
    background-color: var(--outermost-color);
    font-family: "ubuntu";
    justify-content: center;
}

.main-content {
    background-color: var(--outer-color);
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0.25em 0;
}

/* Header and Navigation (Shared Layout) */

.title-bar {
    text-align: center;
}

header {
    text-align: center;
}

header img {
    width: 100%;
    max-height: 10em;
    background-repeat: no-repeat;
    border-radius: 0.25em;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav li {
    list-style: none;
    display: inline-block;
    margin: 0 0.25em;
}

nav li a {
    text-decoration: none;
}

.error-summary-list li {
    list-style: none;
}

/* Inner Content (View-Specific) */

.image-card {
    display: inline-block;
    list-style: none;
}

#inventoryLookup {
    max-width: 15em;
}

.contact-management {
    display: inline-block;
}

.contact-management-grid {
    display: grid;
    grid-template-columns: 8em 1fr;
}

#loading {
    display: none;
}

/* Footer Content (Shared Layout) */

.card {
    border-radius: 0.25em;
    padding: 0.5em;
    display: inline-block;
    margin: 1em;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer p, footer a {
    display: inline-block;
    margin: 1em;
}

/* Media Queries for Responsive Design */

@media screen and (min-width: 600px) {
    .main-content {
        border-radius: 0.25em;
    }
}

@media only screen and (min-width: 768px) {
    .gallery-content {
        display: flex;
    }
}

@media only screen and (min-width: 992px) {
    .main-content {
        margin: auto;
        max-width: 1024px;
    }
}